{% extends "data.html" %}
{% block form%}
    <form id = "form" action ="/workers/add" method="post"></form>
{% endblock %}

{%  block add %}
    <tr>
    <td><input type="text" name="name" form="form" placeholder="Imię"  required/></td>
    <td><input type="text" name="surname" form="form" placeholder="Nazwisko"  required/></td>
    <td><input type="date" name="year" form="form"  required/></td>
    <td><select  name="role" form="form"  required>
    {% for  role, id in roles %}
        <option value = "{{ id }}">{{ role }}</option>
        {% endfor %}
    </select>
    </td>
    </tr>
{% endblock %}

{% block button %}
 <button type="submit" form="form">Dodaj</button>
{% endblock %}